<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangguan.mybatis1.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.shangguan.mybatis1.entity.UserRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="roleid" jdbcType="INTEGER" property="roleid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shangguan.mybatis1.entity.UserRole">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_role (userid, roleid)
    values (#{userid,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.shangguan.mybatis1.entity.UserRole">
    update user_role
    set userid = #{userid,jdbcType=INTEGER},
      roleid = #{roleid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, userid, roleid
    from user_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, userid, roleid
    from user_role
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap">
    select id, userid, roleid
    from user_role
    where userid = #{userid,jdbcType=INTEGER}
  </select>
</mapper>